In [1]:
import pandas as pd
import sidetable

sales = pd.read_csv(
    "sales_data_with_stores.csv",
    usecols = ["store", "product_group", "product_code", "cost",
               "price", "last_week_sales"]
)
sales.head()

    store product_group  product_code    cost    price  last_week_sales
0  Violet           PG2          4187  420.76   569.91               13
1    Rose           PG2          4195  545.64   712.41               16
2  Violet           PG2          4204  640.42   854.91               22
3   Daisy           PG2          4219  869.69  1034.55               14
4   Daisy           PG2          4718   12.54    26.59               50

In [2]:
sales.stb.freq(["product_group"])

  product_group  count  percent  cumulative_count  cumulative_percent
0           PG4    349     34.9               349                34.9
1           PG5    255     25.5               604                60.4
2           PG6    243     24.3               847                84.7
3           PG2     75      7.5               922                92.2
4           PG3     39      3.9               961                96.1
5           PG1     39      3.9              1000               100.0

In [3]:
sales.stb.freq(["product_group"], value="last_week_sales")

,product_group,last_week_sales,percent,cumulative_last_week_sales,cumulative_percent
0,PG6,28125,36.564913,28125,36.564913
1,PG5,21343,27.747731,49468,64.312645
2,PG4,16064,20.884578,65532,85.197223
3,PG2,6133,7.973426,71665,93.170649
4,PG3,3871,5.032632,75536,98.203281
5,PG1,1382,1.796719,76918,100.000000

In [4]:
sales.stb.freq(["product_group", "store"], value="last_week_sales")

,product_group,store,last_week_sales,percent,cumulative_last_week_sales,cumulative_percent
0,PG6,Violet,13687,17.794274,13687,17.794274
1,PG6,Daisy,11433,14.863881,25120,32.658155
2,PG5,Violet,9287,12.073897,34407,44.732052
3,PG4,Daisy,7572,9.844250,41979,54.576302
4,PG5,Daisy,7295,9.484126,49274,64.060428
5,PG4,Violet,5604,7.285681,54878,71.346109
6,PG5,Rose,4761,6.189709,59639,77.535817
7,PG6,Rose,3005,3.906758,62644,81.442575
8,PG2,Violet,2982,3.876856,65626,85.319431
9,PG4,Rose,2888,3.754648,68514,89.074079
10,PG3,Daisy,2225,2.892691,70739,91.966770
11,PG2,Daisy,1871,2.432461,72610,94.399230
12,PG2,Rose,1280,1.664110,73890,96.063340
13,PG1,Daisy,880,1.144076,74770,97.207416
14,PG3,Violet,838,1.089472,75608,98.296888
15,PG3,Rose,808,1.050469,76416,99.347357
16,PG1,Violet,340,0.442029,76756,99.789386
17,PG1,Rose,162,0.210614,76918,100.000000

In [5]:
sales.stb.missing()

                 missing  total  percent
store                  0   1000      0.0
product_group          0   1000      0.0
product_code           0   1000      0.0
cost                   0   1000      0.0
price                  0   1000      0.0
last_week_sales        0   1000      0.0

In [6]:
sales_filtered = sales[sales["product_group"].isin(["PG1", "PG2"])]
sales_filtered.groupby(["store", "product_group"]).agg(
    total_sales = ("last_week_sales", "sum")
)

                      total_sales
store  product_group
Daisy  PG1                    880
       PG2                   1871
Rose   PG1                    162
       PG2                   1280
Violet PG1                    340
       PG2                   2982

In [7]:
sales_filtered.groupby(["store", "product_group"]).agg(
    total_sales = ("last_week_sales", "sum")
).stb.subtotal()

                               total_sales
store       product_group
Daisy       PG1                        880
            PG2                       1871
            Daisy - subtotal          2751
Rose        PG1                        162
            PG2                       1280
            Rose - subtotal           1442
Violet      PG1                        340
            PG2                       2982
            Violet - subtotal         3322
grand_total                           7515

In [8]:
df = pd.DataFrame({"animal": ["dog", "cat"], "age": [20, 30]})
df

  animal  age
0    dog   20
1    cat   30

In [9]:
pd.eval("double_age = df.age * 2", target=df)

  animal  age  double_age
0    dog   20          40
1    cat   30          60

In [10]:
df = pd.DataFrame(dict(a=range(5), b=range(5, 10)))
df.eval("c = a + b", inplace=True)
df.eval("d = a + b + c", inplace=True)
df.eval("a = 5", inplace=True)
df

   a  b   c   d
0  5  5   5  10
1  5  6   7  14
2  5  7   9  18
3  5  8  11  22
4  5  9  13  26